name: Benchmark Linux-X64

on: push

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.18.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      
      - name: Testdata
        run: |
          go get -t github.com/cloudwego/dynamicgo/testdata
          go get github.com/json-iterator/go@latest
          go get github.com/thrift-iterator/go@latest
          go get github.com/cloudwego/kitex/pkg/remote/codec/thrift@latest
          go get github.com/cloudwego/kitex/pkg/generic@latest
          go get github.com/cloudwego/frugal@latest
          go test -race github.com/cloudwego/dynamicgo/testdata

      - name: Benchmark sonic
        run: |
          go test -benchmem -run=^$ -bench . github.com/cloudwego/dynamicgo/testdata