name: Compatibility Test

on: [ push, pull_request ]

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.17.x, 1.18.x, 1.19.x, 1.20.x, 1.21.x, 1.22.x, 1.23.x, 1.24.x]
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Unit Test
        run: |
          go test github.com/cloudwego/dynamicgo/thrift
          go test github.com/cloudwego/dynamicgo/thrift/annotation
          go test github.com/cloudwego/dynamicgo/thrift/generic
          go test github.com/cloudwego/dynamicgo/conv/t2j
          go test github.com/cloudwego/dynamicgo/conv/j2t
          go test github.com/cloudwego/dynamicgo/http
          go test github.com/cloudwego/dynamicgo/internal/json
          go test github.com/cloudwego/dynamicgo/conv/j2p
          go test github.com/cloudwego/dynamicgo/conv/p2j
          go test github.com/cloudwego/dynamicgo/proto/generic
